@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.header {
  background: url(../image/Rectangle.png);
  background-size: cover;
  color: #fff;
  margin-bottom: 150px;
  height: 773px;
}
/*Блок логотипа и навигации   */
.nav {
  display: flex;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #005BC199;
}
.nav__logo {
  padding: 11px 40px;
}
.nav__img{
  width: 140px;
}
.nav__link {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-right: 130px;
}
.nav__item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.link__item{
  color: #fff;
}
.menu{
  display: none;
}

/*Блок баннера*/
.banner {
  display: inline-flex;
  background-color: #005BC199;
  margin: 0;
  padding: 0;
  height: 693px;
  width: 480px;
  position: relative;
  left: 270px;
}
.banner__content {
  flex-wrap: wrap;
  width: 600px;
  height: 320px;
  position: absolute;
  top: 200px;
  left: 240px;
  font-family: "Open Sans", sans-serif;
}
.banner__title {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.banner__btn {
  margin-top: 20px;
  width: 160px;
  height: 51px;
  border: 3px solid white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
}
.banner__select{
  color: #fff;
}
/*Адаптивная верстка*/

@media (max-width : 1570px) {
  .banner {
    height: 711px;
    position: relative;
    left: 300px;
  }
  .banner__content {
    width: 500px;
    position: absolute;
    top: 180px;
    left: 300px;
  }
  .nav__img {
    vertical-align: top;
    width: 100px;
    height: 40px;
  }
  .banner__title {
    font-size: 2.5em;
  }
}
@media (max-width : 1420px) {
  .banner {
    left: 250px;
  }
  .banner__content {
    left: 250px;
    top: 160px
  }
  .banner__title {
    font-size: 2.3em;
  }
}
@media (max-width : 1230px) {
  .banner {
    left: 200px;
    width: 300px;
    
  }
  .banner__content {
    width: 500px;
    position: absolute;
    left:  200px;
    top: 140px;
    
  }
  .banner__title {
    font-size: 2.2em;
    
  }
}
@media (max-width : 1130px) {
  .banner {
    left: 200px;
    min-width: 300px;
    width: 300px;
  }
  .banner__content {
    width: 500px;
    left:  200px;
    top: 120px
  }
  .banner__title {
    font-size: 2.1em;
  }
}
@media (max-width : 900px) {
  .banner {
    width: 300px;
    left: 100px;
    min-width: 300px;
  }
  .banner__content {
    width: 450px;
    left:  150px;
    top: 120px
  }
  .banner__title {
    font-size: 1.9em;
  }
  .banner__btn{
    width: 110px;
    height: 41px;
    border: 2px solid white;
    font-weight: 400;
  }
}
@media(max-width: 800px){
  .header{
    height: 500px;
  }
  .banner {
    top: 5px;
    left: 0;
    width: 100%;
    height: 85%;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
  }
  .banner__content {
    display: flex;
    position: static;
    padding: 0 15px 0;
    width: 420px;
    align-content: center;
  }
  .banner__title{
    font-size: 1.7em;
  }
  .banner__paragraph{
    font-size: 0.9em;
  }
  .banner, .banner__content {
    position: static;
    display: flex;
    justify-content: center;
  }
  .nav__link{
    display: none;
  }
  
  /*Бургер меню*/
  .nav__logo{
    width: 500px;
    justify-content: center;
    align-items: center;
  }
 .menu{
  display: flex;
  order: -1;
  align-items: center;
  width:50%
}
 .menu__burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.menu__burger {
  position: relative;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.menu__burger::before,
.menu__burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
.menu__burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.menu__burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.menu__burger-checkbox:checked + .menu__burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.menu__burger-checkbox:checked + .menu__burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 50px 0;
  margin: 0;
  background: #1b1b1b99;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 100%;
}
.menu__burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
} 
.menu-list__item{
 height: 50px;
 text-align: center;
 margin-top:10px ;
 
}
}
